<!--suppress ThisExpressionReferencesGlobalObjectJS -->
<mat-card class="parent">
  <mat-spinner *ngIf= "isLoading"> </mat-spinner>
  <span *ngIf= "!isLoading" class="flexCenter">
  <h1> Sign Up</h1>
  <form autocomplete="off" [formGroup]= "form" (submit)="onSignUp()"  *ngIf= "!isLoading">
      <mat-form-field>
          <input autocomplete="off"
                 floatLabel="always" formControlName="loginName"
                 matInput
                 name="loginName"
                 placeholder="User name"
                 required
          >
          <mat-error>
            <div *ngIf="form.get('loginName').hasError('required')">This field is required</div>
            <div *ngIf="form.get('loginName').hasError('specialChar')">Your login name cannot contain speical character</div>
            <div *ngIf="form.get('loginName').hasError('startChar')">Your login name must start with A-Z</div>
            <div *ngIf="form.get('loginName').hasError('nameExists')"> Username already exists. </div>
          </mat-error>
      </mat-form-field>
    <br>
        <mat-form-field>
          <input (ngModelChange)=checkPasswordStrength($event) [matTooltipPosition]="position" formControlName="password"
                 matInput
                 matTooltip='Your password should include at least one lower case letter, one upper case letter and one special character'
                 name="password"
                 placeholder="Password"
                 required
                 type="password"
          >
          <mat-error>
              <div *ngIf="form.get('password').hasError('required')">This field is required</div>
          </mat-error>
        </mat-form-field>
    <br>
        <p *ngIf= "scorecolor" [className]="scorecolor">Your password is {{this.passwordStrength}}</p>
        <progress *ngIf= "scorecolor" [value]="passwordScore" [className]="scorecolor" max="100"> </progress>
      <mat-form-field>
          <input [matTooltipPosition]="position" formControlName="confirmPassword" matInput
                 matTooltip='Please re-enter your password'
                 name="confirmPassword"
                 placeholder="Confirm password"
                 required
                 type="password"
          >
          <mat-error>
             <div *ngIf="form.get('confirmPassword').hasError('required')">This field is required</div>
          </mat-error>
        </mat-form-field>
    <br>
        <mat-form-field>
          <input [matTooltipPosition]="position" formControlName="email" matInput matTooltip='Please input the email for registration' name="email"
                 placeholder="Register Email"
                 required
                 type="text">
          <mat-error>
            <div *ngIf="form.get('email').hasError('required')">This field is required</div>
            <div *ngIf="form.get('email').hasError('typeError')">Please input an valid email</div>
          </mat-error>
        </mat-form-field>
    <br>
        <mat-form-field>
          <input matInput type= "text" name="displayName" required
                 placeholder="Nickname"
                 formControlName="displayName"
                 matTooltip='This will be your display nickname'
                 [matTooltipPosition]= "position">
          <mat-error>
            <div *ngIf="form.get('displayName').hasError('required')">This field is required</div>
            <div *ngIf="form.get('displayName').hasError('nameExists')">Displayname already exists.</div>
          </mat-error>
        </mat-form-field>
    <br>
        <button mat-raised-button type="submit" [disabled]="form.invalid">Sign up</button>
      </form>
</span>
</mat-card>
